{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/gallery.css' %}">

<div class="container py-5">

    <h1 class="gallery-title">
        Event Gallery
    </h1>

    <div class="row g-4">

        <!-- sports -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/sports.png' %}" alt="Event">
                <div class="overlay"></div>
            </div>
        </div>

        <!-- food_fest -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/food_fest.png' %}" alt="Event">
                <div class="overlay"></div>
            </div>
        </div>

        <!-- coding -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/coding.png' %}" alt="Event">
                <div class="overlay"></div>
            </div>
        </div>

        <!-- hackathon -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/hackathon.png' %}" alt="Event">
                <div class="overlay"></div>
            </div>
        </div>

        <!-- Tech Fest -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/tech_fest.png' %}" alt="Tech Fest">
                <div class="overlay"></div>
            </div>
        </div>

        <!-- Cultural Fest -->
        <div class="col-lg-4 col-md-6">
            <div class="gallery-card">
                <img src="{% static 'images/cultural.png' %}" alt="Cultural Fest">
                <div class="overlay"></div>
            </div>
        </div>

    </div>

</div>

{% endblock %}